.body-header card box {
    display: flex;
    position: relative;
    white-space: nowrap;
}

.body-header card box avi {
    background: #333;
    border-radius: 50%;
    display: flex;
    height: 30px;
    margin: 10px;
    overflow: hidden;
    width: 30px;
}

.body-header card box > cell {
    flex-direction: row;
}

.body-header card:first-child box {
    margin: 0;
}

.body-header card:first-child box ico {
    margin: 0;
    width: 30px;
}